.aboutus-section {
  width: 100%;
  height: 100vh;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative !important;
  .left-content {
    background: #2c304b;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    width: 170px;
    .column-1 {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 5px;
    }
    .column-2 {
      font-size: 100px;
      font-weight: 700;
      text-align: center;
    }
    .column-3 {
      font-size: 14px;
      letter-spacing: 5px;
    }
  }
  .right-content {
    color: #111;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    padding: 100px 20px 20px 40px;
    height: 100%;
    .column-1 {
      font-size: 23px;
      font-weight: 300;
      letter-spacing: 2px;
      color: #2c304b;
      border-left: 1px solid #2c304b;
      padding: 0px 20px;
    }
    .column-2 {
      background: url("/images/logo-solid.svg") no-repeat;
      background-size: contain;
      background-position: center;
      padding: 20px 25px;
      max-width: 900px;
      font-size: 16px;
      font-weight: 300;
      p {
        line-height: 2rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .aboutus-section {
    .left-content {
      padding: 20px;
      .column-1 {
        font-size: 13px;
      }
      .column-2 {
        font-size: 70px;
      }
      .column-3 {
        font-size: 13px;
      }
    }
    .right-content {
      padding: 40px 10px 10px 20px;
      &.is-page {
        padding: 100px 10px 10px 20px;
      }
      .column-1 {
        font-size: 20px;
      }
      .column-2 {
        padding: 10px 15px;
        font-size: 13px;
        p {
          line-height: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .aboutus-section {
    .left-content {
      width: 15%;
      padding: 5px;
      .column-1 {
        writing-mode: tb-rl;
      }
      .column-2 {
        font-size: 24px;
        writing-mode: tb-rl;
        margin: 14px 0px;
      }
      .column-3 {
        writing-mode: tb-rl;
      }
    }
    .right-content {
      padding: 40px 5px 5px 10px;
      &.is-page {
        padding: 100px 5px 5px 10px;
      }
      .column-1 {
        font-size: 20px;
        padding: 0px 10px;
      }
      .column-2 {
        padding: 5px 10px;
        font-size: 13px;
        p {
          line-height: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .right-content {
    .column-2 {
      font-size: 8px !important;
      p {
        line-height: 1rem;
      }
    }
  }
}
