.menu-toggle {
  top: 25px;
  right: 25px;
  z-index: 1001;
  -webkit-user-select: none;
  user-select: none;

  input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 101;

    &:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-3px, -15px);
      background: white;
    }

    &:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    &:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, 13px);
    }
  }

  span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: 5px 0px;
    transition:
      transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;

    &:last-child {
      margin-bottom: 0px !important;
    }

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
}
