.request-form-card {
  border-radius: 10px;
  .v-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c304b;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    padding: 20px;
  }
  .v-card-text {
    p {
      font-size: 14px;
    }
  }
}
