#requestform {
    width: 100%;
    min-height: 100vh;
    padding: 80px 20px 20px 40px;
    .section-title {
        color: #2C304B;
        border-left: 1px solid #2C304B;
        font-size: 23px;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 0px 20px;
    }
    .section-desc {
        font-size: 14px;
        font-weight: 300;
        padding: 20px 25px;
    }
    .form-desc {
        font-size: .8rem;
        font-weight: 300;
        line-height: 2rem;
    }
    #submitBtn {
        background-color: #2C304B;
        border-color: #2C304B;
    }
}

@media (max-width: 991px) {
    #requestform {
        padding: 40px 10px 10px 20px;
        .section-title {
            font-size: 20px;
        }
        .section-desc {
           font-size:13px;
            padding: 10px 15px;
        }
    }
}

@media (max-width: 576px) {
    #requestform {
        padding: 80px 5px 5px 10px;
        .section-title {
            font-size: 20px;
            padding: 0px 10px;
        }
        .section-desc {
            padding: 5px 10px;
           font-size:13px;
        }
    }
}