.request-form-section {
  padding: 100px 10px 10px 10px;
  .section-desc {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .request-form-section {
    .section-desc {
      font-size: 15px;
    }
  }
}

@media (max-width: 576px) {
  .request-form-section {
    .section-desc {
      font-size: 14px;
    }
  }
}
