.sample1-section {
    background: linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%), url("../images/sample1-section-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
    padding: 100px 20px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .section-title {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: .2rem;
        padding: 0px 20px 5px 20px;
    }
    p {
        font-size: .8rem;
        padding: 5px 20px 5px 20px;
        line-height: 1.5rem;
    }
}

@media (max-width: 768px) {
    .sample1-section {
        padding: 70px 0px;
        .section-title {
            font-size: 1.2rem;
        }
        p {
            font-size: .6rem;
        }
    }
}

@media (max-width: 576px) {
    .sample1-section {
        padding: 40px 0px;
        .section-title {
            text-align: center;
            font-size: 1.2rem;
        }
        p {
            text-align: center;
            font-size: .6rem;
        }
    }
}