.services-section {
  width: 100%;
  padding: 80px 20px 20px 40px;
  .section-title {
    color: #2c304b;
    border-left: 1px solid #2c304b;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0px 20px;
  }
  .section-desc {
    font-size: 14px;
    font-weight: 300;
    padding: 20px 25px;
  }
  .service-card {
    border: 1px solid #ddd !important;
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
    .card-title {
      color: #2c304b;
      font-size: 1.1rem;
      font-weight: 600; 
      margin-bottom: 5px;
    }
    .card-description {
      line-height: 2;
      letter-spacing: 0.03rem;
    }
    .card-action {
      text-align: right;
      a {
        display: inline-block;
        border: none;
        color: #707070;
        text-decoration: none;
        margin-top: 10px;
        text-transform: uppercase;
        transition: 0.2s;
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .services-section {
    padding: 40px 10px 10px 10px;
    &.is-page {
      padding: 100px 10px 10px 10px;
    }
    .service-card {
        .card-title {
            font-size: .9rem; 
        }
        .card-description {
            font-size: .7rem;
        }
    }
    .section-title {
      font-size: 20px;
    }
    .section-desc {
     font-size:13px;
      padding: 10px 15px;
    }
  }
}

@media (max-width: 576px) {
  .services-section {
    padding: 40px 5px 5px 10px;
    &.is-page {
      padding: 100px 5px 5px 10px;
    }
    .section-title {
      font-size: 20px;
      padding: 0px 10px;
    }
    .section-desc {
      padding: 5px 10px;
     font-size:13px;
    }
  }
}
