.splash-screen {
    width: 100%;
    height: 100vh;
    z-index: 1001;
    position: absolute;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    img {
        width: 40%;
    }
}

.splash-screen.is-fading {
    opacity: 0;
}